.butt{
    color: #fff;
    background-color: rgb(164, 2, 164);
    border: none;
    margin: 10px;
    margin-left: 450px;
    padding: 15px;
}

.butt:hover{
    background-color: gray;
    color:rgb(164, 2, 164);
    transition: background-color 0.8s ease;
}

.display-mode-toggle {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  
    button {
      background: #f0f0f0;
      border: 1px solid #ccc;
      padding: 10px 20px;
      cursor: pointer;
      margin: 0 5px;
      border-radius: 5px;
  
      &.active {
        background: #007bff;
        color: #fff;
      }
    }
  }