
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef9e7; 
  background-image: linear-gradient(to bottom right, #d6c9aa, #fef9e7);
}
.product-card {
    // background-color: #f5e6e8; 
     
    background-color: #f8e3e3; 
    border: 1px solid #977474;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 16px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    color: rgb(0, 0, 0);
        text-shadow: 1px 0px 10px rgb(0, 0, 0);
  
    &:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
  
    h3 {
        color: blue;
        text-shadow: 5px 11px 8px rgb(255, 0, 0);
      margin-top: 0;
      font-size: 42px;
      text-transform: uppercase;
    }
  
    p {
        font-size: 26px;
      margin: 10px 0;
    }
}

.product-img{
      width: 445px;
      height: 520px;
      border-radius: 5px;

    
}

.add-button{
    color: #fff;
    background-color: rgb(164, 2, 164);
    border: none;
    cursor: pointer;
    padding: 20px;
margin-top: 20px;
border-radius: 5px;
font-size: 17px;

}
.add-button:hover{
    background-color: rgb(249, 12, 12);
    color:rgb(2, 2, 2);
    transition: background-color 0.9s ease;
}

  .star-icon {
    cursor: pointer;
    margin-left: 370px;
    width: 20px;
    height: 20px;
    position: relative;
    font-size: 50px;
    

    &::before {
      content: '\2605'; 
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; 
      color: white; 
      position: absolute;
      top: 0;
      left: 0;
      transition: color 0.3s ease; 
    }

    &.favorite::before {
      color: rgb(255, 0, 0); 
    }
  }
.icon{
  font-size: 50px;
}
  .item-count{
    font-size: 30px;
    color: rgb(255, 0, 0);
    padding-right: 35px;
  }

  .product-header {
    display: flex;
    justify-content: end;
    align-items: center;
    // padding-right: -130px;
    background-color: rgb(255, 255, 255);
    height: 80px; 
    position: fixed;
    top: 0; 
    width: 100%;  
    margin-left: -650px;
    z-index: 1;
  }
  

  .product-list-container {
    margin-top: 50px; 
    padding: 50px;
   
  }
  .cart-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: white;
    border: none;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .remove-button:hover {
    background-color: #c82333;
  } 
