.modal-close {
    background: none;
    border: none;
    color: rgb(96, 96, 96);
    font-size: 24px; 
    margin-bottom: 50px;
    margin-left: 850px;
    cursor: pointer;
    outline: none;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2px; 
      height: 24px; 
      background-color: rgb(96, 96, 96);
      
    }
    &:before {
      transform: rotate(45deg); 
    }
    &:after {
      transform: rotate(-45deg); 
    }
   
  }

  .confirm-but{
    background-color: rgb(182, 21, 182) ;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
  }
  .confirm-but:hover{
    background-color: rgb(138, 18, 138) ;
    color: #fff;
  }
