.cart-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 40px; /* Добавим отступ между корзиной и формой */
  }
  
  .cart {
    width: 50%;
  }
  
  .checkout-form-container {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 70px;
    margin-left: 20px;
  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  }
  
  .form-title {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
  }
  
  .form-field {
    margin-bottom: 15px;
    position: relative; /* Добавляем относительное позиционирование для полей формы */
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 0.875em;
    position: absolute; /* Устанавливаем абсолютное позиционирование для ошибки */
    top: 100%; /* Ошибка будет отображаться под полем ввода */
    left: 0;
  }
  
  .checkout-button {
    padding: 10px 20px;
    background-color: #46ce4b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
  }
  
  .checkout-button:hover {
    background-color: #45a049;
  }