.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: #fcd4d4;
    width: 600px;
    border-bottom: 1px solid #e0e0e0;
    // position: fixed;
  }
  
  .favorite-icon, .cart-icon {
    position: relative;
    display: flex;
    align-items: center;
    
  }
  
  
 .home{
    font-size: 27px;
    margin: 0 15px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
 }

 .home:hover{
  color: #fff;
  background-color: #000000;
  padding: 5px 15px;
 }

//  .cart-list{
//     font-size: 27px;
//     margin: 0 15px;
//     font-weight: 600;
//     text-decoration: none;
//     color: #007bff;
//  }

//  .fav-list{
//     font-size: 27px;
//     margin: 0 15px;
//     font-weight: 600;
//     text-decoration: none;
//     color: #007bff;
//  }

  // .App {
  //   max-width: 1200px;
  //   margin: 0 auto;
  //   padding: 20px;
  // }

  
  .header-menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    
  }
  
  .header-menu a {
    text-decoration: none;
    color: #000000;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .header-menu a:hover {
    background-color: #000000;
    color: #fff;
  }
  
  .icon {
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon:hover{
    color: rgb(255, 4, 192);
  }
  .item-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }

  .shop-title{
    font-size: 25px;
    color: rgb(0, 145, 123);
    text-align: center;
  }