.modal-header{

    
    background-color: #fff;
    margin-top: 30px;
    color: rgb(154, 3, 154);
    margin: 5px 120px;
    padding: 15px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-header:hover{
    background-color:rgb(154, 3, 154) ;
    color: #fff;
    transition: background-color 0.9s ease;
}