// .product-list-container.grid-view .product-list {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
//     justify-content: center;
//   }
  
  .product-list-container.table-view {
    width: 130%;
    margin-left:-135px;
    background-color: #f2f2f2;
  }
  
  .product-table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    // font-size: 18px;
  }
  
  .product-table th {
    padding-top: 12px;
    font-size: 18px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  .product-table td {
    text-align: center;
    font-size: 20px ;
  }
  
  .img-table {
    width: 100px;
    height: auto;
  }

  .product-table button {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 14px; /* Увеличенный размер текста */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .product-table button:hover {
    background-color: #0056b3;
  }
  
  .product-table button:focus {
    outline: none;
    box-shadow: 0 0 5px #0056b3;
  }

  