.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 100; 
  }
  
  
  .modal-content {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 101; 
    box-shadow: 2px 2px;
    padding: 10px 30px 100px 30px;
    border-radius: 10px;
    font-size: 70px;
  }

  .img{
    width: 550px;
    height: 200px;
  }

  .par{
    color: gray;
    font-size: 16px;
  }
